.menu {
  display: flex;
  gap: var(--primaryGap);
}

.menuItem > a {
  display: block;
  width: 100px;
  padding: 12px;
  border-radius: var(--primaryBorderRadius);
  border: 1px solid var(--whiteColor);
  color: var(--whiteColor);
  font-family: Inter;
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-decoration: none;
  text-align: center;
  transition: color, background-color var(--transitionDurationAndFunc);
}

.menuItem > a:hover,
.menuItem > a:focus,
.menuItem > a[class='active'] {
  color: var(--otherColor);
  background-color: #fff;
}
