.container {
  display: flex;
  gap: var(--primaryGap);
}

.container > a {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  border-radius: var(--primaryBorderRadius);
  background-color: var(--otherLinkColor);
  padding: 12px;
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-decoration: none;
  transition: box-shadow var(--transitionDurationAndFunc);
}

.container > a:hover,
.container > a:focus {
  box-shadow: var(--primaryShadow);
}

.iconWrap {
  display: flex;
  align-items: center;
}
