.avatar {
  width: 112px;
  height: auto;
  margin: 0 auto 8px;
}

.infoWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  color: var(--primaryFontColor);
  font-family: Jua;
  font-size: var(--secondaryFontSize);
  font-weight: var(--otherFontWeight);
  text-align: center;
}

.role {
  color: var(--secondaryFontColor);
  font-family: Inter;
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-align: center;
}

.nav {
  background-color: var(--lightgreyColor);
  padding: var(--spacing);
  border-radius: var(--navBarBorderRadius);
  margin-top: 80px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menuItem > a {
  display: block;
  padding: var(--spacing) 20px;
  border-radius: var(--secondaryBorderRadius);
  color: var(--otherFontColor);
  font-family: Jua;
  font-size: var(--primaryFontSize);
  font-weight: var(--otherFontWeight);
  text-decoration: none;
  transition: background-color var(--transitionDurationAndFunc);
}

.activeLink {
  background-color: var(--otherLinkColor);
}

.menuItem > a:hover,
.menuItem > a:focus {
  background-color: var(--otherLinkColor);
}
